<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns:its="http://www.w3.org/2005/11/its" its:version="2.0">
	<its:rules version="2.0">
		<its:translateRule selector="//item/@label" translate="yes"/>
		<its:translateRule selector="//item/@tooltip" translate="yes"/>
	</its:rules>
<item module="declarationList" title="1" value="0">
	<item module="declarationList" title="1" value="0"/>
	<item module="declarationNbSturioByYear" value="110" title="111" droits="consult"/>
</item>
<item module="parametre" value="450" title="451" droits="param,gestion">
	<item module="ciemList" value="460" title="461" droits="gestion"/>
	<item module="paysList" value="470" title="471" droits="gestion"/>
	<item module="milieuList" value="480" title="481" droits="gestion"/>
	<item module="milieuDetailList" value="560" title="561" droits="gestion"/>
	<item module="regionList" value="490" title="491" droits="gestion"/>
	<item module="especeList" value="510" title="511" droits="gestion"/>
	<item module="devenirList" value="520" title="521" droits="gestion"/>
	<item module="captureModeList" value="530" title="531" droits="gestion"/>
	<item module="captureTypeList" value="540" title="541" droits="gestion"/>
	<item module="captureEtatList" value="580" title="581" droits="gestion"/>
	<item module="enginTypeList" value="570" title="571" droits="gestion"/>
	<item module="evenementTypeList" value="550" title="551" droits="gestion"/>

</item>
	<item module="administration" label="Administration" tooltip="Administration de l'application" droits="admin">
		<item module="loginList" droits="admin" label="Liste des comptes locaux" tooltip="Liste des logins - identification via la base de données"/>
		<item module="appliList" droits="admin" label="ACL - droits" tooltip="applications et droits gérés"/>
		<item module="aclloginList" droits="admin" label="ACL - logins" tooltip="Logins déclarés dans le module de gestion des droits"/>
		<item module="groupList" droits="admin" label="ACL - groupes de logins" tooltip="Groupes de logins et logins rattachés aux groupes"/>
		<item module="dbparamList" droits="admin" label="Paramètres de l'application" tooltip="Liste des paramètres pérennes de l'application" />
		<item divider='1'/>
		<item module="dbstructureSchema" droits="admin" label="Schéma de la base de données" tooltip="Schéma de la base de données"/>
		<item module="dbstructureHtml" droits='admin' label="Structure de la base de données (HTML)" tooltip="Liste des tables et des colonnes"/>
		<item module="dbstructureLatex" droits='admin' label="Structure de la base de données (Latex)" tooltip="Liste des tables et des colonnes sous forme de tableaux Latex"/>
		<item module="dbstructureGacl" droits="admin" label="Structure de la base de données des droits (HTML)" tooltip="Liste des tables et des colonnes de la base de données de gestion des droits"/>
		<item module="phpinfo" droits="admin" label="PHP info" tooltip="configuration générale du serveur PHP"/>
	</item>
	<item module="connexion" label="Connexion" tooltip="S'identifier dans l'application" onlynoconnect="1"/>
	<item module="disconnect" label="Déconnexion" tooltip="Déconnexion de l'application" loginrequis="1">
		<item module="getLastConnections" label="Dernières connexions" tooltip="Liste des dernières connexions réalisées" loginrequis="1"/>
		<item module="loginChangePassword" loginrequis="1" label="Modifier le mot de passe" tooltip="Modifiez votre mot de passe (identification locale uniquement)" />
	</item>
	<item module="aide" label="?" tooltip="Aide">
		<item module="apropos" label="A propos" tooltip="A propos de Collec-Science"/>
		<item module="quoideneuf" label="Nouveautés" tooltip="Quoi de neuf dans l'application ?"/>
		<item module="lexique" label="Lexique" tooltip="Lexique des termes utilisés dans le logiciel" />
		<item module="setlanguagefr" label="Français" tooltip="Libellés en français"/>
		<item module="setlanguageen" label="English" tooltip="Labels in English"/>
	</item>
</menu>
